.inscricao {
  align-items: center;
  background-color: #000000;
  color: #ffffff;
  display: flex;
  gap: 3rem;
  justify-content: center;
  padding: 4rem 24rem;
}

.inscricao-titulo {
  font-family: var(--fonte-principal);
  font-size: 3rem;
  font-weight: bold;
  padding-bottom: 2rem;
}

.inscricao-texto {
  font-family: var(--fonte-secundaria);
  line-height: 1.8rem;
}

.inscricao-contrato {
  display: flex;
  flex-direction: column;
}

.inscricao-formulario {
  font-family: var(--fonte-secundaria);
  line-height: 1.8rem;
  padding-bottom: 2rem;
}

.inputs {
  cursor: text;
}

.input-email {
  background-color: #000000;
  border: solid 1px #ffffff;
  color: #ffffff;
  height: 30px;
  margin-bottom: 2rem;
  outline: 0;
  width: 100%;
}

.input {
  background-color: #000000;
  border: solid 1px #ffffff;
  color: #ffffff;
  height: 30px;
  outline: 0;
  padding: 5px 0 5px;
  padding-left: 10px;
}

.input-dividido {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-left: 5px;
}

.input-check {
  padding-top: 1rem;
}

.inscricao-link {
  background-color: #ec9a00;
  border-radius: 4px;
  color: #ffffff;
  font-family: var(--fonte-secundaria);
  padding: 1.2rem 1.5rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: transform 0.1s;
  width: 20%;
}

.inscricao-link:hover {
  transform: scale(1.1);
}

span {
  color: #ec9a00;
}
